# .env.example

# PRIVATE CONFIGURATION FILE FOR THE DISTRIBUTOR SERVICE
TONCENTER_API_ENDPOINT="https://toncenter.com/api/v2/jsonRPC"
TONCENTER_API_KEY="YOUR_TONCENTER_API_KEY_HERE"

# CONTRACT ADDRESS OF DEPLOYED CONTRACT
CONTRACT_ADDRESS="YOUR_TONCROWN_CONTRACT_ADDRESS_HERE"

# 24 WORD PHRASE FOR THE DISTRIBUTOR WALLET WHICH PAYS GAS FEES
DISTRIBUTOR_MNEMONIC="dignity response melody annual pyramid loan essence penalty assault neither sight chimney age brown print doctor note clay report stone mixed lizard cram door"

# CRON SCHEDULE FOR DISTRIBUTION JOB
# THIS RUNS EVERY DAY AT 1:00 AM
CRON_SCHEDULE="0 1 * * *"

#OPCODE FOR DISTRIBUTE_REWARDS FUNCTION
DISTRIBUTE_REWARDS_OPCODE=0xF579295F